*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1 rem;
}
body{
    background-color: aliceblue;
}
#heading{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;

}
#heading a{
    text-decoration: none;
    color: black;
}
#heading i{
    margin-right: 1rem;
}

/* buttons  */
.buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.btn{
    margin: 0.3rem 0rem;
    width:45%;
}

/* lists */
.list-group{
    padding-top: 1rem;
    overflow: auto;
}

.fa-circle,.fa-check-circle{
    padding: 0rem 1rem;
}
.fa-trash-alt{
    float: right;
}
.fa-trash-alt:hover{
    cursor: pointer;
    font-size: large;
}


